@model TP1Module5LesChats.Models.Chat

<div>
    @Html.Partial("_ChatDetails",Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
